/target/
/bin/
/build/
/.gradle/
gradle.properties
yefym-sonartype-secret.asc
*.classpath
/.project
*.prefs
examples/splitcustomer.rockitizer/.project
/nbproject/
.gradle/5.0/fileHashes/fileHashes.bin
.gradle/5.0/fileHashes/fileHashes.bin
.gradle/5.0/fileHashes/fileHashes.lock
yefym-sonartype-secret.gpg
